# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Koroviev test and upload

on:
  release:
    types: [published]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel poetry
        poetry config virtualenvs.create false --local && poetry install --no-dev --no-ansi -n
    - name: Test with pre-commit
      run: |
        pip install pre-commit
        pre-commit run -a
    - name: SonarCloud Scan Test
      uses: SonarSource/sonarcloud-github-action@v1.4
      with:
        projectBaseDir: koroviev/
    - name: Build and publish
      run: |
          poetry publish --build -u ${{ secrets.PYPI_USERNAME }} -p ${{ secrets.PYPI_PASSWORD }}
